<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi non vitae, assumenda quas eum ad placeat
            itaque. Doloremque accusantium officia minus magnam, corporis non ea ducimus minima doloribus perferendis
            soluta accusamus provident, nemo eligendi, neque possimus nulla. Facere, eveniet consequatur!</p>
    </div>
</div>