<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos alias officia laboriosam ratione tempora
        consequuntur, a nisi aliquam voluptatibus! Iste accusantium magni perferendis facilis unde possimus dolorem ut,
        molestias deleniti.</p>
    <a href="http://www.google.com" class="btn btn-primary btn-lg">Go to Google</a>
</div>